# Import Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

# Import data

In [2]:
path = r'C:\Users\tlayt\OneDrive\Documents\CF Data Analytics\Acheivement 6\Final Project'

In [3]:
# importing df
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'us_births_2016_2021.csv'), index_col = False)

# Data cleaning

In [4]:
#checking data 
df.head()

,State,State Abbreviation,Year,Gender,Education Level of Mother,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
0,Alabama,AL,2016,F,8th grade or less,1,1052,27.8,3116.9
1,Alabama,AL,2016,F,9th through 12th grade with no diploma,2,3436,24.1,3040.0
2,Alabama,AL,2016,F,High school graduate or GED completed,3,8777,25.4,3080.0
3,Alabama,AL,2016,F,"Some college credit, but not a degree",4,6453,26.7,3121.9
4,Alabama,AL,2016,F,"Associate degree (AA, AS)",5,2227,28.9,3174.3

In [5]:
#getting basic descriptive stats
df.describe()

,Year,Education Level Code,Number of Births,Average Age of Mother (years),Average Birth Weight (g)
count,5496.000000,5496.000000,5496.000000,5496.000000,5496.000000
mean,2018.500728,3.026201,4115.443959,29.552274,3250.887627
std,1.707554,4.733406,6687.036797,2.779735,114.456090
min,2016.000000,-9.000000,10.000000,23.100000,2451.900000
25%,2017.000000,2.000000,559.000000,27.500000,3182.200000
50%,2019.000000,4.000000,1692.000000,29.600000,3256.000000
75%,2020.000000,6.000000,5140.000000,31.800000,3330.825000
max,2021.000000,8.000000,59967.000000,35.500000,3585.700000

In [7]:
df.shape

(5496, 9)

In [9]:
#checking data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5496 entries, 0 to 5495
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          5496 non-null   object
 1   State Abbreviation             5496 non-null   object
 2   Year                           5496 non-null   int64
 3   Gender                         5496 non-null   object
 4   Education Level of Mother      5496 non-null   object
 5   Education Level Code           5496 non-null   int64
 6   Number of Births               5496 non-null   int64
 7   Average Age of Mother (years)  5496 non-null   float64
 8   Average Birth Weight (g)       5496 non-null   float64
dtypes: float64(2), int64(3), object(4)
memory usage: 386.6+ KB

In [10]:
#checking for mixed type data 
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [11]:
#checking for missing values 
df.isnull().sum()

State                            0
State Abbreviation               0
Year                             0
Gender                           0
Education Level of Mother        0
Education Level Code             0
Number of Births                 0
Average Age of Mother (years)    0
Average Birth Weight (g)         0
dtype: int64

In [12]:
#checking for duplicates 
df_dups = df[df.duplicated()]

In [13]:
#checking dups 
df_dups

Empty DataFrame
Columns: [State, State Abbreviation, Year, Gender, Education Level of Mother, Education Level Code, Number of Births, Average Age of Mother (years), Average Birth Weight (g)]
Index: []